@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  margin: 20px 0;
}

h2 {
  margin-top: 50px;
}
